.upperPage{
	width: 100%;

}
.container{
	display: flex;
    justify-content: center;
	width: 100%;
	height: 100px;
	position: fixed;
	background-color: #fff;

}
.nav-buttons{
text-decoration: none;
font-size: 20px;
font-weight: 900;
color: #4f4f4f	;
}

.buttons{	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.content{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(92,70,221,1) 0%, rgba(0,212,255,1) 100%);
}
.text{
	position: absolute;
	width: 700px;
	height: 300px;
	animation-name: FadeIn;
	animation-duration: 3
	s;
	transition-timing-function: linear;
}
.welcome-text{
	color: white;
	font-size: 50px;
}
.big-text{
	color: #fff;
	font-size: 20px;
}
.video-libary{
	text-align: center;
	margin-top: 20px;
	font-size: 40px;
	margin-bottom: 15vh;
}
.aboutMovies{
	width: 100%;
	height: 80vh;
}
.divs-image{
	width: 350px;
	height: 250px;
}
.threeMovies{
	justify-content: center;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.divs{
	padding: 20px;
	width: 350px;
	height: 400px;

}
.divs-title{
	font-weight: 700;
	font-size: 25px;	
}
.divs-big-text{
	color: #4f4f4f

}
.now-playing{
	text-align: center;
	font-size: 40px;
}
.content-upcoming{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	background: rgb(251,249,63);
	background: radial-gradient(circle, rgba(251,249,63,1) 0%, rgba(241,0,0,1) 100%);
}

.content-popular{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	background: rgb(170,63,251);
	background: radial-gradient(circle, rgba(170,63,251,1) 0%, rgba(241,0,159,1) 100%);
	
}
.btn-left{
	margin-left: 50px;
}





@keyframes FadeIn {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  
  @-moz-keyframes FadeIn {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  
  @-webkit-keyframes FadeIn {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  
  @-o-keyframes FadeIn {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }