*{
  padding: 0;
  margin: 0;
}
.main{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px;
  padding: 50px;
  background-color: #fff;
}
.movie-container{
  border-radius: 20px;
  animation-name: FadeIn;
  animation-duration: 1s;
  transition-timing-function: linear;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 500px;
  height: 200px;
  border: 2px solid black;
}

.movie-image{
  border-radius: 20px;
  width: 150px;
  height: 200px;
}
.movie-title{
  color: black;
  text-align: center;
}
.movie-vote{
  color: black;
  text-align: center;
}
.aboutMovies{
  text-align: center;
}
@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}